import("arules")
import("grid") 
import("ggplot2")
import("tibble")
import("tidyr")
# NOTE: dplyr has many NAMESPACE conflicts with arules so we use ::
#import("dplyr")

importFrom("graphics", "par", "mtext", "text", "axis", "box")
importFrom("stats", "median")
importFrom("methods", "is", "as", "new")

importFrom("graphics", "plot")
S3method(plot, rules)
S3method(plot, itemsets)
S3method(plot, grouped_matrix)

export("inspectDT")
S3method(inspectDT, rules)
S3method(inspectDT, itemsets)
S3method(inspectDT, data.frame)

export(
  "ruleExplorer", 
  "saveAsGraph",
  "associations2igraph", 
  "rules2matrix", 
  "rules2groupedMatrix"
)